body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
    
  .container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .discord-logo {
    width: 90px; 
    height: auto;
    position: absolute;
    top: 120px; 
    left: 630px; 
    z-index: 1;
  }
  
  .content {
    text-align: center;
    color: white;
  }
  
  h1 {
    font-size: 3em;
    font-family: "Poppins", "Odoo Unicode Support Noto", sans-serif;
  }

  .lead {
    font-size: 1.500rem;
    font-weight: 40;
  }
  
  a {
    display: inline-block;
    padding: 11px 22px;
    background-color: #36cea1;
    color: rgb(0, 0, 0);
    font-family: "Poppins", "Odoo Unicode Support Noto", sans-serif; 
    text-decoration: none;
    border-radius: 100px;
    margin-top: 20px;
  }
  